RewriteEngine on
# Include in the next line all folders to exclude
RewriteRule ^resources($|/) - [L]
RewriteRule ^views($|/) - [L]
RewriteRule ^uploads($|/) - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L,QSA]